@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0B0B0B;
  --color-secondary: #F5F5F5;
  --color-accent: #C6A969;
  --color-neutral: #1A1A1A;

  --font-sans: "Outfit", sans-serif;
}


/* Lenis Scroll Styles */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
html,
body,
#root {
  background-color: #171717;
}