@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: "Outfit", sans-serif;
}

:root {
	font-family: "Outfit", sans-serif;
}

html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

html,
body {
	background-color: #ffffff;
}

html.dark,
html.dark body {
	background-color: #080808;
}

*,
button,
input,
textarea,
select {
	font-family: inherit;
}